<h1>商品詳細ページ</h1>
<div class="container">
 <div class="row">
  <div class="col-md-3">
   </div>
   <div class="col-md-5 text-break">

<%= image_tag @product.get_image, size: "300x200" %><br>
<%= @product.name %>
<%= @product.note %>
￥<%= @product.price %>

<% if @product.is_active == true %>
<%= form_with(model: @cart_product,url: carts_path, method: :post,local: true)do |f| %>
   <%= f.label :product_count, "個数選択" %>
   <%= f.select :product_count, [1,2,3,4,5,6,7,8,9,10] %>
   <%= f.hidden_field :product_id, :value => @product.id %>
    <%= f.submit "カートに入れる" %>
  <% end %>
<% end %>

</div>
</div>
