<%= flash[:notice] %>

<div class="container">
  <div class="row m-5">
    <div class="col-2">
      <table class="table table-bordered">
        <tr>
          <td class="text-center">ジャンル検索</td>
        </tr>
        <tr>
          <td>ジャンル</td>
        </tr>
        <tr>
          <td>ジャンル</td>
        </tr>
        <tr>
          <td>ジャンル</td>
        </tr>
        <tr>
          <td>ジャンル</td>
        </tr>
      </table>
    </div>
    <div class="col-8 d-flex justify-content-center align-items-center">
      <div>
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。</br>
      </div>
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-10 offset-2">
      <h3 class="d-inline-flex px-0">新着商品</h3>
    </div>
  </div>
  <div class="row mx-5">
    <div class="col-10 offset-2">
      <% @products.first(4).each do |product| %>
        <table class="col-2 table table-borderless d-inline-flex m-4 p-0">
          <tr>
            <td><%= image_tag product.get_image, size: "200x150" %></td>
          </tr>
          <tr>
            <td><%= link_to product.name, product_path(product.id) %></td>
          </tr>
          <tr>
            <td>¥<%= product.price %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-10">
      <%= link_to "全ての商品を見る>", products_path %>
    </div>
  </div>
</div>