<div class="container">
 <div class="row">
  <div class="col-lg-8">
   <br>

   <h3>注文履歴詳細</h3>
   <table class="table table-borderless">
    <tbody>
      <tr>
        <td>購入者</td>
        <td><%= link_to @order.name, admin_customer_path(@customer) %></td>
      </tr>
      <tr>
        <td>注文日</td>
        <td><%= l @order_product.created_at, format: :short %></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td>〒<%= @order.zip_code %> <%= @order.address %><br>
            <%= @order.name %>
        </td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td><%= Order.total_payments_i18n[@order.total_payment] %></td>
      </tr>
      <tr>
        <td>注文ステータス</td>
        <td>
         <%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %>
         <%= f.select :status, @status_key %><%= f.submit "更新", class: "btn btn-success" %>
         <% end %>
        </td>
      </tr>
    </tbody>
   </table>
   <table class='table table-hover table-inverse'>
     <thead>
       <tr>
         <th>商品名</th>
         <th>単価（税込）</th>
         <th>数量</th>
         <th>小計</th>
         <th>製作ステータス</th>
       </tr>
     </thead>
     <tbody>
       <% @order_products.each do |order_product| %>
       <tr>
       <td><%= order_product.product.name %></td>
       <td><%= (order_product.product.price * 1.1).floor %></td>
       <td><%= order_product.count %></td>
       <td><% subtotal = ((order_product.product.price*order_product.count)*1.1).to_i %>
       <%= subtotal %>
       </td>
       <td>
          <%= form_with model: @order_product, url: admin_order_product_path(@order_product), method: :patch do |f| %>
            <%= f.select :making_status, @making_status_key %><%= f.submit "更新", class: "btn btn-success" %>
          <% end %>
       </td>
       </tr>
       <% end %>
     </tbody>
   </table>
   </div>


<div class="col-lg-4 mt-5">
  <table class="table table-borderless">
    <tbody>
         <% total = 0 %>
      <tr>
        <td>商品合計</td>
        <td>
          <% @order_products.each do |order_product| %>
           <% subtotal = ((order_product.product.price*order_product.count)*1.1).to_i %>
            <% total += subtotal %>
            <% end %>
            <%= total %>
        </td>
      </tr>
      <tr>
        <td>送料</td>
        <td>
        <% @order_new.postage = 800 %>
         <%= @order_new.postage %>
        </td>
      </tr>
      <tr>
        <td>請求金額合計</td>
        <td>
            <% @order_new.billing_amount = @order.postage + total.to_i %>
            <%= @order_new.billing_amount %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
 </div>
 </div>