<h4>ショッピングカート</h4>
<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>

  <% total = 0 %>

<% if current_member.cart_products.present? %>
    <% @cart_products.each do |cart_product| %>
     <tr>
       <td>
         <%= attachment_image_tag(cart_product.product, :image, size: "60x50", fallback: "no_image.jpg") %>
         <%= cart_product.product.name %> #商品名
       </td>
       <td><%= (cart_product.product.price*1.1).to_i %></td>
       <td>
         <%= form_with model: cart_product, url: cart_product_path(cart_product), local: true, method: :patch do |f| %>
           <%= f.number_field :quantity, min: 1, max:10, id: "quantity_cart"%>
           <%= f.submit "変更",class: "btn btn-success" %>
         <% end %>
       </td>
       <td>
         <% subtotal = ((cart_product.product.price*cart_product.quantity)*1.1).to_i %>
         <%= subtotal %> #小計を表示
       </td>
       <td>
         <%= link_to "商品をカートから削除する", cart_product_path(cart_product.id, cart_product), method: :delete,class: "btn btn-danger" %>
       </td>
     </tr>
       <% total += subtotal %>
     <% end %>
<% end %>
   <tr>
    <th>合計金額</th>
    <td><%= total %></td>
   </tr>