<div class="row">
  <div class="col-8 offset-2">
    <% if product.id.present? %>
      <%= form_with model: product, url: {controller: 'products', action: 'update'} do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td style="width: 200px">商品画像</td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td style="width: 200px">商品名</td>
            <td><%= f.text_field :name, placeholder: "商品名", class: "w-100" %></td>
          </tr>
          <tr>
            <td style="width: 200px">商品説明</td>
            <td><%= f.text_area :note, placeholder: "ここに説明文を記述します", class: "w-100" %></td>
          </tr>
          <tr>
            <td style="width: 200px">ジャンル</td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "選択してください" }, class: "w-100" %></td>
          </tr>
          <tr>
            <td style="width: 200px">税抜価格</td>
            <td><%= f.text_field :price, placeholder: "1000", class: "w-100" %></td>
          </tr>
          <tr>
            <td style="width: 200px">販売ステータス</td>
            <td>
              <%= f.radio_button :is_active, true %>
              <%= f.label :is_active,"販売中", value: true %>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active,"販売停止中", value: false %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <%= f.submit "編集を保存", class: "btn btn-success" %>
      </div>
      <% end %>

    <% else %>

      <%= form_with model: product, url: admin_products_path, method: :post do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td style="width: 200px">商品画像</td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td style="width: 200px">商品名</td>
            <td><%= f.text_field :name, placeholder: "商品名", class: "w-100" %></td>
          </tr>
          <tr>
            <td style="width: 200px">商品説明</td>
            <td><%= f.text_area :note, placeholder: "ここに説明文を記述します", class: "w-100" %></td>
          </tr>
          <tr>
            <td style="width: 200px">ジャンル</td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "選択してください" }, class: "w-100" %></td>
          </tr>
          <tr>
            <td style="width: 200px">税抜価格</td>
            <td><%= f.text_field :price, placeholder: "1000", class: "w-100" %></td>
          </tr>
          <tr>
            <td style="width: 200px">販売ステータス</td>
            <td>
              <%= f.radio_button :is_active, true %>
              <%= f.label :is_active,"販売中", value: true %>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active,"販売停止中", value: false %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
      <% end %>
    <% end %>
  <div class="col-4"></div>
  </div>
</div>