<div class="container">
 <div class="row mt-5 mb-3">
  <div class="col-3 offset-1 d-inline-flex">
   <div class="bg-light px-3">
    <h4 class="m-0">商品一覧</h4>
   </div>
  </div>
  <div class="col-1 offset-6">
   <%= link_to "＋", new_admin_product_path, class: "btn btn-primary rounded-circle" %>
  </div>
 </div>

 <div class="row">
  <div class="col-10 offset-1">
   <br>
     <table class='table table-borderless'>
      <thead>
       <tr class="table-secondary">
        <th>商品id</th>
        <th>商品名</th>
        <th>税抜き価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
       </tr>
      </thead>
      <tbody>
       <% @products.each do |product| %>
       <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, admin_product_path(product) %></td>
        <td><%= product.price %></td>
        <td><%= product.genre.name %></td>
        <td>
         <% if product.is_active %>
          <div class="text-success">販売中</div>
         <% else %>
          <div class="text-secondary">販売停止中</div>
         <% end %>
        </td>
       </tr>
       <% end %>
      </tbody>
     </table>
   </div>
  </div>
</div>
