<div class="container">
  <h1>商品詳細</h1>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @product.get_image, size: "200x300" %>
    </div>

    <div class="col-md-8">
      <div>商品名 <%= @product.name %></div>
      <div>商品説明 <%= @product.note %></div>
      <div>ジャンル <%= @product.genre.name %></div>
      <div>
        税込価格(税抜価格)
        <%= @product.add_tax_price %>
        (
        <%= @product.price %>
        )円
      </div>
      <div>
        販売ステータス
        <% if @product.is_active %>
          <div class="font-weight-bold text-success">
            <%= "販売中" %>
          </div>
        <% else %>
          <div class="font-weight-bold text-danger">
          <%= "販売停止中" %>
          </div>
        <% end %>
      </div>
      <tr><%= link_to "編集する", edit_admin_product_path, class: "btn btn-success" %></tr>
    </div>
  </div>
</div>