<div class="container">
  <div class="row my-5">
    <div class="col-3 offset-1 d-inline-flex">
      <div class="bg-light px-3">
        <h4 class="m-0">商品詳細</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag @product.get_image, size: "200x300" %>
    </div>
    <div class="col-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="align-middle" style="width: 150px">商品名</td>
            <td class="align-middle"><%= @product.name %></td>
          </tr>
          <tr>
            <td class="align-middle" style="width: 150px">商品説明</td>
            <td class="align-middle"><%= @product.note %></td>
          </tr>
          <tr>
            <td class="align-middle" style="width: 150px">ジャンル</td>
            <td class="align-middle"><%= @product.genre.name %></td>
          </tr>
          <tr>
            <td class="align-middle" style="width: 150px">税込価格</br>(税抜価格)</td>
            <td class="align-middle"><%= @product.add_tax_price %>(<%= @product.price %>)円</td>
          </tr>
          <tr>
            <td class="align-middle" style="width: 150px">販売ステータス</td>
            <td class="align-middle">
              <% if @product.is_active %>
                <div class="font-weight-bold text-success">
                  <%= "販売中" %>
                </div>
              <% else %>
                <div class="font-weight-bold text-danger">
                <%= "販売停止中" %>
                </div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="text-center"><%= link_to "編集する", edit_admin_product_path, class: "btn btn-success" %></div>
    </div>
  </div>
</div>