<div class="container">
  <div class="row my-5">
	<div class="col-md-5">
	<h4>注文情報確認</h4>
	</div>
	<div class="col-md-5"></div>
	<div class="col-md-2">
	</div>
  </div>
    <table class="table table-bordered ">
    <thead>
	<tr>
	<th>商品名</th>
	<th>単価（税込</th>
	<th>数量</th>
	<th>小計</th>
	</tr>
	</thead>
    <% total = 0 %>
    <% @carts.each do |cart| %>
    <tr>
    <td>
    <%= image_tag cart.product.get_image, size: "60x50" %>
    <%= cart.product.name %>
    </td>
    <td><%= (cart.product.price * 1.1).floor %></td>
    <td><%= cart.product_count %>
    <td><% subtotal = ((cart.product.price*cart.product_count)*1.1).to_i %>
       <%= subtotal %>
    </td>
    <% end %>

    <table>
    <tr>
    <th>送料</th>
    <td><% @order.postage = 800 %>
    <%= @order.postage %></td>
    </tr>

    <tr>
    <th>商品合計</th>
    <td>
    <% @carts.each do |cart| %>
    <% subtotal = ((cart.product.price*cart.product_count)*1.1).to_i %>
    <% total += subtotal %>
    <% end %>
    <%= total %>
    </td>
    </tr>

    <tr>
    <th>請求金額</th>
    <td><% @order.billing_amount = @order.postage + total.to_i %>
    <%= @order.billing_amount %></td>
    </tr>
</table>


<tr>
<th>支払方法</th>
<td> <%= Order.total_payments_i18n[@order.total_payment] %></td>
</tr>
<br>
<tr>
<th>お届け先</th>
<td><%= @order.zip_code %></td>
<td><%= @order.address %></td>
<td><%= @order.name %></td>

<%= form_with model: @order, url:  orders_complete_path, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :zip_code %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :postage %>
  <%= f.hidden_field :billing_amount %>
  <%= f.hidden_field :total_payment, value: @total %>
  <%= f.hidden_field :status %>
  <%= f.submit "注文を確定する" %>
<% end %>
</tr>


