<div class="container">
  <div class="row my-5">
    <div class="col-4 offset-1 d-inline-flex">
      <div class="bg-light px-3">
        <h4 class="m-0">注文履歴一覧</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <tr class="table-secondary">
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <div>〒<%= order.zip_code %></div>
              <div><%= order.address %></div>
              <div><%= order.name %></div>
            </td>
            <td>
              <% order_products = @order_products.where(order_id: order.id) %>
              <% order_products.each do |order_product| %>
                <div><%= order_product %></div>
              <% end %>
            </td>
            <td><%= order.billing_amount %>円</td>
            <td><%= Order.status_i18n[Order.status.key(order.status)] %></td>
            <td><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>