<div class="container">

  <div class="row my-5">
    <div class="col-3 offset-1 d-inline-flex">
      <div class="bg-light px-3">
        <h4 class="m-0">注文情報入力</h4>
      </div>
    </div>
  </div>

	<div class="row">
		<%= form_with model: @order, url: orders_confirm_path do |f| %>
			<h5 class="col-12 my-0">支払方法</h5>
			<div class="col-12 mx-5 my-2">
				<div>
					<%= f.radio_button :total_payment, Order.total_payments.key(0) %>
					<%= f.label :total_payment, Order.total_payments_i18n[:credit_card] %>
					
				</div>

				<div>
					<%= f.radio_button :total_payment, Order.total_payments.key(1) %>
					<%= f.label :total_payment, Order.total_payments_i18n[:transfer]%>
				</div>
			</div>

			<h5 class="col-12 my-0">お届け先</h5>
			<div class="col-12 mx-5">
				<div class="mt-2">
					<div>
						<%= f.radio_button :address_number, "1" %>
						<%= f.label :address_id, "ご自身の住所", class: "my-0" %>
					</div>
					<div class="mx-4 mt-2">〒<%= current_customer.zip_code %> <%= current_customer.address %></div>
					<div class="mx-4 mt-2"><%= current_customer.last_name %><%= current_customer.first_name %></div>
				</div>

				<div class="mt-3">
					<div>
						<%= f.radio_button :address_number, "2" %>
						<%= f.label :address_id, "登録済住所から選択", class: "my-0" %>
					</div>
					<div class="mx-4 mt-2"><%= f.select :address_id, options_from_collection_for_select(DeliveryAddress.all, :id, :address_display) %></div>
				</div>

				<div class="mt-3">
					<%= f.radio_button :address_number, "3" %>
					<%= f.label :address_id, "新しいお届け先" %>
				</div>

        <table class="table table-borderless mx-2">
          <tr>
            <td class="py-1" style="width: 200px">郵便番号(ハイフンなし)</td>
            <td class="py-1"><%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code", class: "w-50" %></td>
            <td class="py-1"></td>
          </tr>
          <tr>
            <td class="py-1" style="width: 200px">住所</td>
            <td class="py-1"><%= f.text_field :address, autocomplete: "address", class: "w-100" %></td>
            <td class="py-1"></td>
          </tr>
          <tr>
            <td class="py-1" style="width: 200px">宛名</td>
            <td class="py-1"><%= f.text_field :name, autocomplete: "current-password", class: "w-50" %></td>
          </tr>
        </table>
      </div>
      <div class="col-12 py-1 text-center">
      	<div class="d-inline-flex justify-content-center" style="width: 150px"><%= f.submit "確認画面へ進む", class: "btn btn-success w-100" %></div>
			</div>
			</div>
		<% end %>
	</div>

