<div class="container">
  <div class="row my-5">
    <div class="col-4 offset-1 d-inline-flex">
      <div class="bg-light px-3">
        <h4 class="m-0">注文履歴一覧</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h5>注文情報</h5>
      <table class="table table-bordered">
        <tr>
          <td class="table-secondary">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送先</td>
          <td>
            <div>〒<%= @order.zip_code %></div>
            <div><%= @order.address %></div>
            <div><%= @order.name %></div>
          </td>
        </tr>
        <tr>
          <td class="table-secondary">支払方法</td>
          <td><%= Order.total_payments_i18n[@order.total_payment] %></td>
        </tr>
        <tr>
          <td class="table-secondary">ステータス</td>
          <td><%= Order.statuses_i18n[@order.status] %></td>
        </tr>
      </table>
    </div>
    <div class="col-4">
      <h5>請求情報</h5>
      <table class="table table-bordered">
        <tr>
          <td class="table-secondary">商品合計</td>
          <td><%= @order.billing_amount - @order.postage %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送料</td>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <td class="table-secondary">ご請求額</td>
          <td><%= @order.billing_amount %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <h5>注文内容</h5>
      <table class="table table-bordered">
        <tr>
          <th class="table-secondary">商品</th>
          <th class="table-secondary">単価(税込)</th>
          <th class="table-secondary">個数</th>
          <th class="table-secondary">小計</th>
        </tr>
        <% @order.order_products.each do |order_product| %>
          <tr>
            <td><%= order_product.product.name %></td>
            <td><%= order_product.price %></td>
            <td><%= order_product.count %></td>
            <td><%= order_product.price * order_product.count %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>